{% extends 
    'dashboard.html.twig' %}
{% block title %}
    Gestion des Membres
{% endblock %}
{% block content %}
<h1 class="bg-dark text-white p-3 rounded mb-2">
    Liste des Membres
</h1>
<div class="text-right mb-2">
    <a href="{{ path('app_member_new') }}" class="btn btn-success">
        Créer un nouveau membre
    </a>
</div>
<div class="form-group">
    <label for="search-input">
        Rechercher un membre
    </label>
    <input type="text" id="search-input" class="form-control" placeholder="Entrez le nom du membre"></div>
    <div class="form-group">
        <label for="sort-select">
            Trier par
        </label>
        <select id="sort-select" class="form-control">
            <option value="id_asc">
                ID croissant
            </option>
            <option value="id_desc">
                ID décroissant
            </option>
            <option value="firstName_asc">
                Prénom A-Z
            </option>
            <option value="firstName_desc">
                Prénom Z-A
            </option>
        <!-- Ajoutez d'autres options de tri selon les besoins -->
        </select>
    </div>
    <label for="team-select">
        Liste des équipes
    </label>
    <select name="team" id="team-select" class="form-control mb-3">
        <option value="">
            --Veuillez choisir votre équipe--
        </option>
        {% for team in teams %}
            <option value="{{ team.name }}">
                {{ team.name }}
            </option>
        {% endfor %}
    </select>
    <table class="table table-striped table-hover bg-light">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    Photo
                </th>
                <th scope="col">
                    Prénom
                </th>
                <th scope="col">
                    Nom
                </th>
                <th scope="col">
                    Date de naissance
                </th>
                <th scope="col">
                    Post
                </th>
                <th scope="col">
                    N°
                </th>
                <th scope="col">
                    Contrat
                </th>
                <th scope="col">
                    Salaire
                </th>
                <th scope="col">
                    Equipe
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody id="member-list">
            {% for member in members %}
                <tr>
                    {% if member.photo == '' %}
                        <td>
                            <img src="{{ asset('uploads/images/avatar.png') }}" alt="Avatar" width="40" class="rounded"></td>
                        {% else %}
                            <td class="photo-container">
                                <img src="{{ asset('uploads/images/' ~ member.photo) }}" width="40" class="rounded photo"></td>
                            {% endif %}
                            <td>
                                {{ member.id }}
                            </td>
                            <td>
                                {{ member.firstName }}
                            </td>
                            <td>
                                {{ member.lastName }}
                            </td>
                            <td>
                                {{ member.birthDate ? member.birthDate|date('d-m-Y') : '' }}
                            </td>
                            <td>
                                {{ member.post }}
                            </td>
                            <td>
                                {{ member.numero }}
                            </td>
                            <td>
                                {{ member.contratActuel ? member.contratActuel|date('d-m-Y') : '' }}
                            </td>
                            <td>
                                {{ ((member.salaire * 10)*12)/1000000 }}
                                M.€
                            </td>
                            <td class="team-name">
                                {{ member.team.name }}
                            </td>
                            <td>
                                <a href="{{ path('app_member_show', {'id': member.id}) }}" class="btn btn-primary btn-sm mt-2">
                                    Voir
                                </a>
                                <a href="{{ path('app_member_edit', {'id': member.id}) }}" class="btn btn-warning btn-sm mt-2">
                                    Modifier
                                </a>
                                <a href="{{ path('app_member_delete', {'id': member.id}) }}" class="btn btn-danger btn-sm mt-2">
                                    Supprimer
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9" class="text-center">
                                Aucun enregistrement trouvé
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </tbody>
        